<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Informasi UNAIR</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chat-container">

    <h2>Chatbot Informasi Universitas Airlangga</h2>

    <div id="chat-box"></div>

    <div class="input-area">
        <input
            type="text"
            id="user-input"
            placeholder="Tanyakan sesuatu..."
        >

        <button onclick="sendMessage()">
            Kirim
        </button>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>